/* Stretch the background image and focus on the top-center while stretching */
body {
	background: url("../img/bg.png") no-repeat center top fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* Allow centering vertically of objects */
.vertical-center {
	min-height: 93%;
	min-height: 93vh;
	display: flex;
	align-items: center;
}

/* Allow centering horizonally of objects */
.horizontal-center {
	margin: auto;
	width: 60%;
	min-width: 250px;
	max-width: 900px;
}

/* The center box of the page */
.center-box {
	background-color: rgba(255,255,255,0.30);
	border-radius: 15px;
	padding: 25px;
	-webkit-box-shadow: 0px 0px 20px -3px rgba(0,0,0,0.65);
	-moz-box-shadow: 0px 0px 20px -3px rgba(0,0,0,0.65);
	box-shadow: 0px 0px 20px -3px rgba(0,0,0,0.65);
}

/* Keep the logo in the corner of the page */
.logo {
	position:absolute;
	right:10;
	bottom: 10;
	max-height: 80px;
	opacity: 0.5;
    	filter: alpha(opacity=50);
	transition: .5s ease;
}

.logo:hover {
	opacity: 1;
	filter: alpha(opacity=100);
	max-height: 90px;
}
