/* The standard font */
* {
  font-family:Helvetica;
  color: #ffffff;
}

h1 {
	font-size: 2em
}

/* Allow for text to be centered as a class */
.text-center {
	text-align: center;
}

/* size for the glyphicon icons */
.icon {
	font-size: 1.25em;
}

/* The font for the footer is located in footer.css */